<!-- Vista principal: Listado de viajes -->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Listado de Viajes</title>
</head>
<body>
<div class="header">
    <img class="icon" src="/images/batbatcar.png">
    <p class="app-name">Aplicación Bat Bat Car v2</p>
</div>
<div class="section">
    <h3><strong>Listado de Viajes</strong></h3>
</div>
<div class="info" th:if="${infoMessage}">
    <p>
        <span th:text="${infoMessage}"></span>
    </p>
</div>
<form action="/viajes" method="get">
	<input type="search" name="destino" placeholder="Introduce destino...">
	<button type="submit">Buscar</button>
</form>
<a href="/viaje/add"><button type="button">Añadir nuevo Viaje</button></a>
<table class="viajes">
    <tr>
        <th>Cod. Viaje</th>
        <th>Ruta</th>
        <th>Propietario</th>
        <th>Fecha y hora de salida</th>
        <th>Estado</th>
        <th>Num. Reservas</th>
		<th>Plazas Disponibles</th>
		<th>Acciones</th>
    </tr>
    <tr th:each="viaje: ${viajes}">
        <td th:text="${viaje.getCodViaje()}"></td>
        <td th:text="${viaje.getRuta()}"></td>
        <td th:text="${viaje.getPropietario()}"></td>
        <td th:text="${#temporals.format(viaje.getFechaSalida(), 'dd-MM-yyyy ''a las'' HH:mm')}"></td>
        <td th:classappend="${(viaje.estaDisponible()) ? 'abierto':'cerrado'}" th:text="${viaje.getEstado()}"></td>
        <td th:text="${numReservas.get(viaje.getCodViaje())}"></td>
		<td th:text="${plazasDisponibles.get(viaje.getCodViaje())}"></td>
		<td>
            <a th:href="@{/viaje/reserva/add(codViaje=${viaje.getCodViaje()})}" th:if="${viaje.estaDisponible()}">Reservar /</a>
			<a th:href="@{/viaje(codViaje=${viaje.getCodViaje()})}">Ver detalle /</a>
			<a th:href="@{/viaje/reservas(codViaje=${viaje.getCodViaje()})}">Ver reservas</a>
			<a href="#" th:if="${viaje.estaDisponible()}">/ Cancelar</a>
        </td>
    </tr>
</table>
</body>
</html>